<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/pico.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='custom.css')}}">
    <title>Vserver_Info</title>
</head>
<body>
    <main class="container">
        <h2>SLB Result</h2>
        <nav>
            <ul>
                <li><a href="#"" role="button">Export</a></li>
            </ul>
            <ul>
                <li><a href="/lbvserver?name={{l4_name}}&ip={{l4_ip}}" role="button">Back</a></li>
                <li><a href="/" role="button">🏚</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                  <form class="form dark noshowing">
                    <input id="changeBtn_dark" type="button" value="🌚"/>
                  </form>
                </li>
                <li>
                  <form class="form light showing">
                    <input id="changeBtn_light" type="button" value="🌞"/>
                  </form>
                </li>
            </ul>
        </nav>        
        <table role="grid">
            <thead>
              <tr>
                <th scope="col">VSERVER_NAME</th>
                <th scope="col">SERVICE_NAME</th>
                <th scope="col">S_IP</th>
                <th scope="col">S_Port</th>
                <th scope="col">PROTOCOL</th>
                <th scope="col">STATE</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                {% for service in lbvserver_binding %}
                    <td>{{service.name}}</td>
                    <td>{{service.servicename}}</td>
                    <td>{{service.ipv46}}</td>
                    <td>{{service.port}}</td>
                    <td>{{service.servicetype}}</td>
                    {% if service.curstate == "DOWN" %}
                        <td style="color: #e53935">{{service.curstate}}</td>
                    {% else %}
                        <td style="color: #1e88e5">{{service.curstate}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="{{ url_for('static', filename ='js/theme.js')}}"></script>           
    </main>   
</body>
</html>